$bg-color:  #FFFFFF;
$blue: #002A5C;
$white: #FFFFFF;
$black: #000000;
$btn-bg: #B43DBD;
$btn-bg-hover: rgb(141, 49, 148);
$icon-orange: #EC4F1E;
$icon-gray: #293338;
$lightgray: rgb(238, 238, 238);
$error: #bf1616;

$admin-blue: #2560AC;


$box-shadow:0 10px 16px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);
$box-shadow-hover: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
